.navbar {
    // height: 50px;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            font-size: 1.125rem;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 1.5em;
        }

        .center{
            font-size: 1.875rem;
            letter-spacing: 2px;
        }

        .right{
            display: flex;
            align-items: center;
            gap: 1.5em;

            .icons {
                display: flex;
                gap: 15px;
                color: #777;
                cursor: pointer;

                .cartIcon {
                    position: relative;

                    span {
                        height: 20px;
                        width: 20px;
                        font-size: 0.75rem;
                        border-radius: 50%;
                        background-color: #2879fe;
                        color: white;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}